*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --cor1: #210F04;
    --cor2: #8E6E53;
    --cor3: #E1CE7A;
    --cor4: ;
    --cor5: ;
    --fonte1: ;
    --fonte2: ;
}
body{
    background-color: var(--cor2)
}
header{
    display: flex;
    background-color: #210F04;
    height: 100px;
    color: antiquewhite;
}
#banner{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 600px;
    margin: auto;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
header ul{
    
}
#sobre{
    background-color: #E1CE7A;
    border-radius: 1.5em;
    margin: 1em;
    padding: 1em;
}
footer{
    
}