*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@keyframes gitMove{
    from{transform: translateY();}
    to{transform: translateY(10px);}
}
:root{
    --cor1: #210f04b9;
    --cor2: #8E6E53;
    --cor3: #E1CE7A;
    --cor4: #210f04;
    --cor5: ;
    --fonte1: ;
    --fonte2: ;
}
body{
    background-color: var(--cor2)
}
h2{
    text-align: center;
}
header{
    display: flex;
    background-color: var(--cor1);
    height: 100px;
    color: antiquewhite;
}
#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
    margin: 15px 0px;
}
#perso{
    grid-area: a;
    display: flex;
    justify-content: right;
}
#apre{
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 800px;
    margin: auto;
}
#habilidades{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin: 1em auto;
}
#l-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px 15px;
    width: 80%;
    max-width: 1024px;
    margin: 1em auto;
}
.cards{
    background-color: bisque;
    width: 150px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
}
#card1{
    background-image: url(imagens/);
}
#card2{
    background-image: url();
}
#card3{
    background-image: url();
}
#card5{
    background-image: url();
}
#formulario{
    color: aliceblue;
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
    margin: 15px auto;
}
#gitHub{
    animation-name: gitMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
#btn{
    width: 100px;
}
#banner a, #sobre a, header a{
    text-decoration: none;
    color: antiquewhite;
    background-color: #210F04;
    width: max-content;
    padding: 1em;
    border-radius: 1em;
}
header ul{
    
}
#sobre{
    background-color: #E1CE7A;
    border-radius: 1.5em;
    max-width: 1024px;
    margin: 1em auto;
    padding: 1em;
}
#sobre p{
    margin-bottom: 20px;
}
footer{
    background-color: #E1CE7A;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
}